<div class="p-4">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold">Recipe List</h2>
        <h3>{{ 'Hello, ' + (currentUser?.username || 'Guest') }}</h3>
        <button routerLink="/recipes/new" class="bg-blue-500 text-white px-4 py-2 rounded">Add Recipe</button>
        
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let recipe of recipes" class="border rounded p-4">
            <h3 class="text-lg font-semibold mb-2">{{ recipe.title }}</h3>
            <p class="mb-5 text-sm text-[grey]">Author: {{ recipe.author }}</p>
            <p class="text-gray-600 mb-4">{{ recipe.description }}</p>
            <a [routerLink]="['/recipes', recipe.id]" class="bg-green-500 text-white px-4 py-2 rounded">View Recipe</a>
        </div>
    </div>
</div>
