<div class="container mx-auto flex justify-center items-center py-[200px]">
    <div class="w-[500px] bg-white p-[50px] shadow text-center">
        <h2 class="text-black">Login</h2>
        <p class="mt-3 mb-10 text-gray-400">Please login using account detail below.</p>
        <form class="flex flex-col gap-4" (ngSubmit)="login()" [formGroup]="loginForm">
            <input class="border px-3 h-[50px] rounded" type="email" id="email" formControlName="email" placeholder="Email">
            <input class="border px-3 h-[50px] rounded" type="password" id="password" formControlName="password" placeholder="Password">
            <button class="secondary-btn" type="submit">Login</button>
        </form>
    </div>
</div>

