<div class="bg-[#f8f8f8]">
  <nav class="container mx-auto nav flex justify-between items-center py-3 border-b border-gray-200">
    <div>
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
      <a routerLink="/recipes" routerLinkActive="active-link">Recipes</a>
    </div>

    @if (!isAuthenticated()) {
      <div>
        <a routerLink="/login" routerLinkActive="active-link">Login</a>
        <a routerLink="/register" routerLinkActive="active-link">Register</a>
      </div>
    } @else {
      <div>
        <button (click)="logout()" class="text-red-500">Logout</button>
      </div>
    }
  </nav>
  
</div>
<router-outlet />
  