<div class="grid grid-cols-4 gap-4 items-center pb-5 mb-5 border-b">
  <!-- Product Column -->
  <div class="flex gap-4">
    <div class="bg-tertiary-light p-2 rounded w-[80px] h-[80px] flex-shrink-0 flex items-center justify-center">
      <img [src]="product.image" alt="{{ product.title }}" class="max-h-[70px] max-w-[70px] object-contain">
    </div>
    <div class="flex flex-col flex-grow pt-2">
      <h6 class="text-[12px] text-gray-600">{{ product.title }}</h6>
    </div>
  </div>

  <!-- Price -->
  <div class="text-center"> ${{ product.price }} </div>

  <!-- Quantity -->
  <div class="flex items-center h-[20px] mx-auto">
    <button (click)="decreaseCount()" class="bg-gray-200 rounded-[0px] p-2 w-[20px] h-full flex items-center justify-center">-</button>
    <span class="w-[40px] h-full bg-gray-300">{{ product.quantity }}</span>
    <button (click)="increaseCount()" class="bg-gray-200 rounded-[0px] p-2 w-[20px] h-full flex items-center justify-center">+</button>
  </div>

  <!-- Total -->
  <div class="text-end"> ${{ total }} </div>
</div>
